.header {
  height: 10%;
  background-color: #233954;
  width: 80%;
  padding: 4%;
  color: white;
  font-family:sans-serif
}
.h2{
  color: white;
  width: 30%;
  display: inline;
}
.description{
  color: white;
  display: inline;
  margin-left: 2%;
  font-style: italic;
  font-size: 14;
  font-family: serif;
}
.body {
  width: 85%;
}
.news-image {
  background-color: lightgray;
  width:3%;
  padding-left:15%;
  padding-top:25%;
  float: left;
}
.news-content{
  display: inline;
  color: #000000;
  padding-left:1%;
}
.news-container{
  width: 76%;
  margin:2%;
  float: left;
}
.news-header {
  font-size: 18px;
  color: #233954;
  font-weight: 700;
  padding-left:1%;
}
.news-decscription{
  font-family: "Calibri";
  font-size: 14px;
  display:block;
  padding-left:20%;
  text-align: justify;
}
.news-journal{
  font-family: "Calibri";
  font-size: 14px;
  padding-left:20%;
  font-style: italic;
}
.btn-reading {
  background-color: #ed674c;
  color:   aliceblue;
  display: block;
  padding: 1%;
  font-family: "Tahoma";
}
.btn-continue{
  padding-left:20%;
}
.news-category{
  color: #000000;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2%;
}
.subscribe{
  color: #000000;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: bold;
  padding-top: 2%;
  display: block;
}
.btn-subscribe{
  background-color: #000000;
  color: white;
  margin:-2%;
  padding: 1%;
  font-family: "Calibri";
  font-weight: bold;
  font-size: 12px;
}
.email-address{
  padding: 1%;
  color: #000000;
  font-family: "Calibri";
  font-size: 12px;
  display: inline;
  width:13%;
}
.category-dropdown{
  padding-bottom: 1%;
  padding-top:2%;
}
.dropdown{
  padding: 1%;
  color: #000000;
  font-family: "Calibri";
  font-size: 14px;
  width:20%;
}
.footer {
  width:100%;
  background-color: #233954;
  margin-top:2%;
  padding: 2%;
  color: white;
  font-size: 12px;
  text-align: center;
  float: left;
  font-family: sans-serif;
}
.custom-popup{
  display: block;
  border: 2px solid #aaa;
  position: fixed;
  width: 55%;
  height: 35%;
  left: 10%;
  top:30%;
  padding: 2%;
  margin: 2%;
  box-sizing: border-box;
  border-color: #233954;
  background-color: White;
  opacity: 1;
}
.right-pane{
  position: relative;
  left:20%;
}
.left-pane{
  width: 80%;
}
/*category and Subscription */
.sidePanelStyle {
    width: 25%;
    margin: 10px 30px 10px 10px;
}

.lstBox {
    width: 100%;
    height: 25px;
}

.txtBoxMeasures {
    float: left;
    width: 70%;
    height: 25px;
}

.btnSubscribe {
    float: left;
    color: white;
    background: black;
    height: 30px;
    border:0;
}
